<style>
  .history-list .track {
    background-color: yellowgreen;
  }
</style>

<ol class="history-list">
  {{#each history}}
  <li class="track">
    {{!-- <img src="{{img}}" alt=""> --}}
    <span class="title">{{name}}</span>
    <span class="artist">{{artist}}</span>
    <span class="source">{{source}}</span>
  </li>
  {{/each}}
</ol>