<!DOCTYPE html>
<html lang="en">

<head>
  {{> head/meta}}
  {{> head/title}}
  {{> head/style}}
  {{> head/js}}
</head>

<body>
  {{!-- {{> header}} --}}

  {{{body}}}

  {{!-- {{> footer-player}} --}}
</body>

</html>